<h1><%= t('views.main.welcome') %></h1>

<%= render 'layouts/domain_menu' %>


<%= form_for(@main) do |f| %>
  
  <%= render 'fields', :f => f %>
  
  <div class="div-actions">
    <%= f.submit t('views.buttons.save') %>
  </div>
<% end %>