<h4><%= t('views.car.car_remove_notice_header') %></h4>
<div class="div-move-car"><%= t('views.car.car_remove_notice') %></div>
<ul id="ul_cars" class="ul-cars-connectedSortable" data-update-url="<%= destroy_domain_cars_url %>">    
  <% @cars.each do |car| %>
	<%= content_tag_for :li, car, :class => 'li-car' do %>
		<%= link_to car.name, vehicle_path(:alias => car.alias) %> 
		(<%= link_to image_tag("buttons/edit.png", :alt => "#{t('views.buttons.edit')} #{car.name}", :title => "#{t('views.buttons.edit')} #{car.name}", :class => 'img-buttons'), car %>) 
    		<%= link_to image_tag("buttons/delete.png", :alt => "#{t('views.buttons.delete')} #{car.name}", :title => "#{t('views.buttons.delete')} #{car.name}", :class => 'img-buttons'), car, :method => :delete, :confirm => t('views.forms.confirm') %>
  	<div class="div-image"><%= link_to image_tag(car.images.order('order_id').first.image.url(:small)), car if car.images.order('order_id').first %></div>
  	<% end %>
  <% end %>
</ul>
