<h1><%= t('views.car.car_update_welcome') %></h1>
<br/>

<%= image_tag("#{RAILS_CAR_VIEW_IMAGES}" + "#{@image.name}/" + @image.image_thumb_file) if @image  %>


<%= link_to t('views.image.welcome'), :controller => 'images', :action => 'index', :car_id => @car.id %>

<%= form_for(@car) do |f| %>
  <%= render 'fields', :f => f %>
  <div class="div-actions">
    <%= f.submit t('views.buttons.save') %>
  </div>
<% end %>
