  
<h1>File Upload</h1>

<div id="dialog-modal" class="div-dialog-modal" title="<%= t('field.add_file') %>">
  <%= form_tag({:action => 'upload_image', :car_id => @car.id}, :multipart => true) do %>
    <p><label for="upload_file">Select File</label>
    <%= file_field 'upload', 'datafile' %></p>
    <%= submit_tag "Upload" %>
  <% end %>
</div>

<div id="image_list">  
  <%= render 'list'  %> 
</div>  
  <br/><br/>
  
 <%= link_to image_tag("buttons/add.png", :id => "opener"), "#" %>