<header class="header-pages">
	<nav>
   	 <ul>
    	<% if signed_in? %>
    	   	 	<li><%= link_to "Редактировать главную", :controller => 'main', :action=>'show' %></li>
   	 			<li><%= link_to "Домены", :controller => 'domains', :action=>'show' %></li>
    			<li>Страницы</li>
    			<li>Каталог</li>
    			<li>Лента новостей</li>
    			<li><%= link_to "Пользователи", users_path %> (<%= link_to "Добавить", signup_path %>)</li>
    			<li><%= link_to current_user.name, edit_user_path(current_user) %> (<%= link_to "Выход", signout_path, :method => :delete %>)</li>
		<% end %>
   	 </ul>   
 	</nav>
</header>